html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("https://i.pinimg.com/originals/73/33/e9/7333e97a6275761ea852941d2118ce9f.jpg"); */
  /* background-size: 100%; */
  /* background-position: bottom; */
  /* background-color: aqua; */
  min-height: 100%;
}

form {
  padding: 20px;

  margin-top: 50px;
}

form button,
form h5 {
  margin: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
